@import "tailwindcss";

@theme {
  --font-tangerine: "Tangerine", cursive;
  --font-readex: "Readex Pro", sans-serif;
}

@layer base {
  body {
    @apply font-readex;
  }
}

@layer components {
  .hard-shadow {
    box-shadow:
      1px 1px 0 0 var(--tw-shadow-color),
      2px 2px 0 0 var(--tw-shadow-color),
      3px 3px 0 0 var(--tw-shadow-color),
      4px 4px 0 0 var(--tw-shadow-color),
      5px 5px 0 0 var(--tw-shadow-color),
      6px 6px 0 0 var(--tw-shadow-color),
      7px 7px 0 0 var(--tw-shadow-color),
      8px 8px 0 0 var(--tw-shadow-color);
  }
}
